@import 'oscailte/oscailte';


#sydney {
	margin-top: 40px;
	height: 280px;
	background-image: url('/images/sydney-skyline.png');
	background-repeat: no-repeat;
	vertical-align: bottom;
}

#worldmap {
	margin-top: 40px;
	height: 280px;
	background-image: url('/images/world-image.png');
	background-repeat: no-repeat;
}

#sublime {
	margin-top: 40px;
	height: 280px;
	background-image: url('/images/sublime.png');
	background-repeat: no-repeat;
}