
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,300italic,700italic' rel='stylesheet' type='text/css'>
<!-- d3 libraries -->
<script type="text/javascript" src="/javascripts/d3.v3.min.js"></script>
<script type="text/javascript" src="/javascripts/d3.geo.projection.v0.min.js"></script>
<script type="text/javascript" src="/javascripts/topojson.v1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<div class="grid__item two-fifths lap-four-sixths palm-one-whole">
  <a href="{{ root_url }}/" class="site-title">{{ site.title }}</a>
</div>

<div class="grid__item three-fifths lap-two-sixths palm-one-whole">
  <nav>
    {% include site/navigation.html %}
  </nav>
</div>