<!-- <div class="hero" style="background-image: url('/images/swiss-alps-2012.png');"> -->
<div class="myname">
  <div class="grid-wrapper">
    <div class=" grid flex">
      <div id="myname" class="grid__item flex__item one-whole">
        <h1>Dave Wood</h1>
      </div>
    </div>
  </div>
</div>


<div class="home-section sydney">
  <div class="grid-wrapper">
    <div class=" grid">
      <div class="grid__item two-fifths portable-one-whole">
        <div id="tree">
          <p></p>
        </div>
        <h3>I make websites and visualise data. </h3> 
        <h3>I live in Sydney, Australia. </h3>
          
      </div>
      <div id="sydney" class="grid__item three-fifths portable-one-whole">
      </div>
    </div>
  </div>
</div>
<div class="grid-wrapper">
  <div class="line">
    <hr>
  </div>
</div>
<div class="home-section worldmap">
  <div class="grid-wrapper">
    <div class="grid">
      <div id="worldmap" class="grid__item three-fifths portable-one-whole">
      </div>
      <div class="hometext grid__item two-fifths portable-one-whole">
        <h3>Data visualisation </h3>
        <p>I enjoy telling stories with data. Often using the excellent d3 javascript library.</p>
      </div>
    </div>
  </div>
</div>
<div class="grid-wrapper">
  <div class="line">
    <hr>
  </div>
</div>
<div class="home-section sublime">
  <div class="grid-wrapper">
    <div class="grid">
      <div class="hometext grid__item two-fifths portable-one-whole">
        <h3>Web development</h3>
        <p>I development modern websites primarily utilising the ruby on rails framework. 
          A fun, modern and fast way to craft software.</p>
      </div>
      <div id="sublime" class="grid__item three-fifths portable-one-whole">
        <p>hi</p>
      </div>
    </div>
  </div>
</div>
<div class="grid-wrapper">
  <div class="line">
    <hr>
  </div>
</div>

<!-- </div> -->
