// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#sydney {
	height: 180px;
	background-image: url('/images/sydney-skyline.png');
	background-repeat: no-repeat;
}